body {
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap:20px;

    height:90vh;
}

h2{
    font-size:13cqw;
}

p{
    font-size: 6cqw;
}

h1{
    font-size:15cqw;
}

h2, p, h1{
    font-family: monospace;
    width: 100%;
}

#loadPortfolio {
    top: 25vh;
}

#HTMLButtonHolder {

    display:flex;
    flex-direction:row;
    justify-content:space-around;
    overflow-x:scroll;

    background-color:rgb(171, 171, 171, 0.44);

    width:80%;
    height:fit-content;
}

.absolute {
    position: absolute;
}

.relative{
    position:relative;
}

.centered{
    Transform:translate(-50%, -50%);
}

.button{
    cursor:pointer;
    
    width:20vw;
    aspect-ratio:1;
    background-color:white;
    display:flex;
    text-align:center;
    align-items:center;

    overflow:hidden;

    container-type:inline-size;
}

.buttonVideo{
    object-fit:cover;
    inset:0;
    width:100%;
    height:100%;
}

.buttonTextHolder {
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, .6);
}
