body{
  background-color:gray;
}

p{
  left:50%;
  top:50%;
  font-size:5em;
}

#loadPortfolio{
  top:25vh;
}

#loadMoodBoard{
  top:75vh;
}

.absolute{
  position:absolute;
}

.centered{
  Transform:Translate(-50%, -50%);
}

.button{
  left:50%;
  width:20vw;
  aspect-ratio:1;
  background-color:white;
}
