body{
  background-color:gray;
}

p{
  font-size:4em;
  font-family:monospace;
}

#loadPortfolio{
  top:25vh;
}

#loadMoodBoard{
  top:75vh;
}

.absolute{
  position:absolute;
}

.centered{
  Transform:Translate(-50%, -50%);
}

.button{
  left:50%;
  width:20vw;
  aspect-ratio:1;
  background-color:white;
  display:flex;
  text-align:center;
  align-items:center;
}
