/* for the aesthetic */

body {
    background-color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
main{
    flex:1;
}

footer{
    margin-top:auto;
}

*{
    font-family:monospace;
    transition-duration:.25s;

    cursor:default;
}

/* ids */
#mainTitle {
    font-weight:bold;
}


#topBar{
    position:fixed;
    
    left:10%;
    top:0;

    width:80%;
    aspect-ratio:15/1;
    
    z-index:100;

    display:flex;
    justify-content:space-evenly;
    align-items:center;

    background-color:white;
}

#topBar * {
    font-size:inherit;
    white-space:nowrap;
}

#topBar > h2:hover {
    color: deepskyblue;

    cursor:pointer;
}


}

#bottomText{
    margin-left:50%;
    width:fit-content;
    height:fit-content;
    z-index:100;
}


#displayProjectsContainer {
    position: relative;

    left:17.5%;
    width:65%;
 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1vw;
}



#leftBorder {
    left:0px;
}

#rightBorder {
    right:0px;
}


#textHolder {
    position:relative;

    width:80%;

    margin: calc(80vw / 10 + 10vw) auto 0; /* topBar height + spacing */

/*    background-color:black;*/
}


#projectsTitle{
    font-size:1.5vw;
    margin-top: 75px;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}



/* classes */
.border {
/*    background-color: #4d4d4d;*/
    background: linear-gradient(180deg, rgba(77, 77, 77, 1) 6%, rgba(227, 227, 227, 1) 100%);

    width: 10%;
    top: 0;
}


.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}


.text {
    position:relative;
    left:2.5%;
    width:95%;

    font-size:1.2vw;

    text-align:center;
/*    background-color:gainsboro;*/
}



.displayProject {
/*    position: relative;
    width: 33%;*/
/*    height:max-content;*/

    background-color: #262626;
    text-align:center;
    
    display:flex;
    flex-direction:column;

    border-radius:10px;
    overflow:hidden;
}

.displayVideo {
    position:relative;
    height:50%;
    max-width:100%;

    margin:0px auto;

    left:0;
    top:0;
}

.displayTitle {
    position:relative;
/*    font-size:2vw;*/
    text-size-adjust:auto;
    
    text-align:center;
    font-weight:bolder;


    color:white;
}

.displayText {
    position:relative;
/*    font-size:1vw;*/
    text-size-adjust:auto;
    
    padding-left:10px;
    padding-right:10px;

    text-align:center;

    color:white;
}