/* for the aesthetic */

body {
    background-color:white;
}

*{
    font-family:monospace;
}

/* ids */
#mainTitle {
    margin:auto auto;

    top:50%;
    left:50%;

    font-size:7.5vw;

    font-weight:bold;
}

#topBar{
    position:fixed;
    
    left:10%;
    top:0px;

    width:80%;
    aspect-ratio:7/1;
    
    z-index:100;
    
    background-color:white;
}

#leftBorder {
    left:0px;
}

#rightBorder {
    right:0px;
}

#firstVideoHolder {
    left:10%;

    width:80%;
    aspect-ratio:1.7;

/*    background-color:black;*/
}

#firstVideo {
/*    background-color:green;*/

    width:100%;
    height:100%;
}

#firstVideoText {
    left:2.5%;
    width:95%;
    background-color:gainsboro;
}


/* classes */
.border {
    background: #4d4d4d;
    background: linear-gradient(180deg, rgba(77, 77, 77, 1) 6%, rgba(227, 227, 227, 1) 100%);

    width: 10%;
    top: 0px;
}

.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}