/* for the aesthetic */

body {
    background-color:white;
}

*{
    font-family:monospace;
    transition-duration:.25s;

    cursor:default;
}

/* ids */
#mainTitle {
    font-size:5vw;
    font-weight:bold;
}

#topBar{
    position:fixed;
    
    left:10%;
    top:0;

    width:80%;
    aspect-ratio:10/1;
    
    z-index:100;

    display:flex;
    justify-content:space-evenly;
    align-items:center;

    background-color:white;
}

#topBar * {
    white-space:nowrap;
}

#topBar > h2:hover {
    color: deepskyblue;

    cursor:pointer;
}

#leftBorder {
    left:0px;
}

#rightBorder {
    right:0px;
}

#firstVideoHolder {
    position:relative;

    width:80%;
    aspect-ratio:1.7;

    margin: calc(80vw / 10 + 5vw) auto 0; /* topBar height + spacing */

/*    background-color:black;*/
}

#firstVideo {
/*    background-color:green;*/

    width:100%;
    height:100%;
}



/* classes */
.border {
    background: #4d4d4d;
    background: linear-gradient(180deg, rgba(77, 77, 77, 1) 6%, rgba(227, 227, 227, 1) 100%);

    width: 10%;
    top: 0px;
}

.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}

.videoText {
    position:relative;
    left:2.5%;
    width:95%;

    font-size:1.2vw;

    text-align:center;
/*    background-color:gainsboro;*/
}