/* for the aesthetic */

body {
    background-color:white;
}

*{
    font-family:monospace;
}

html{
    scroll-behavior:smooth;
}

/* ids */
#mainTitle {
    left:50%;
    top:50%;
    font-weight:bold;
}

#topBar{
    position:fixed;
    left:10%;
    top:0px;
    width:80%;
    height:125px;
    z-index:100;
    background-color:green;
}

#leftBorder{
    left:0px;
/*    top:50%;*/
}

#rightBorder{
    right:0px;
/*    top:50%;*/
}


/* classes */
.border {
    background-color:gray;
    height:100%;
    width:10%;
    top:0px;
}

.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}