/* for the aesthetic */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(270, 100%, 4%, 1) 25%, hsla(269, 100%, 11%, 1) 50%, hsla(270, 100%, 15%, 1) 75%, hsla(270, 100%, 23%, 1) 100%);
}

main{
    flex:1;
}

footer{
    margin-top:auto;
}

*{
    color:white;
    font-family:monospace;
    transition-duration:.25s;

    cursor:default;
}

/* ids */
#mainTitle {
    font-weight: bold;
    align-self:center;
    font-size: clamp(1.5rem, 8vw, 4rem);
}

#bottomText {
    margin-left: 50%;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    font-size: clamp(0.5rem, 1vw, 1rem);
}


#displayProjectsContainer {
    position: relative;
    left: 17.5%;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    gap: 1vw;
    margin-bottom: 10vh;
}




#leftBorder {
    left:0px;
}

#rightBorder {
    right:0px;
}


#textHolder {
    position:relative;

    width:80%;

    margin: calc(80vw / 10 + 1vw) auto 0; /* topBar height + spacing */

/*    background-color:black;*/
}


#projectsTitle {
    margin-top: 75px;
    font-size: clamp(2.25rem, 2.5vw, 3rem);
}



/* classes */
.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}


.text {
    position:relative;
    left:2.5%;
    width:95%;

    font-size:clamp(1rem, 2vw, 2rem);

    text-align:center;
/*    background-color:gainsboro;*/
}



.displayProject {
/*    position: relative;
    width: 33%;*/
/*    height:max-content;*/

    background-color: #262626;
    text-align:center;
    
    display:flex;
    flex-direction:column;

    border-radius:10px;
    overflow:hidden;
}

.displayVideo {
    position:relative;
    height:50%;
    max-width:100%;

    margin:0px auto;

    left:0;
    top:0;
}

.displayTitle {
    position: relative;
    /*    font-size:2vw;*/
    /*    text-size-adjust:auto;*/

    font-size: clamp(.5rem, 2.25vw, 1.5rem);

    text-align: center;
    font-weight: bolder;
    color: white;
}

.displayText {
    position: relative;
    /*    font-size:1vw;*/
    /*    text-size-adjust:auto;*/

    font-size: clamp(0rem, 1.75vw, 1.25rem);

    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
}

.splitter {
    position: relative;
    width: 60vw;
    aspect-ratio: 200 / 1;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    margin: 5vh auto 5vh auto;
}

.newDisplayContainer{
    position:relative;
    align-self:center;
    width:75%;
    height:fit-content;
    display:grid;
    grid-template-columns:repeat(1, 100%);
    gap:1vw;
    margin-bottom:10vh;
}

.horizontalDisplay {
    position: relative;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #262626;
}