body{
  background-color:grey;
}

#file{
  left:50%;
  top:1rem;
}

#bottomText{
  bottom:0;
  left:50%;
  height:fit-content;
}

.centered{
  Transform:Translate(-50%, -50%);
}

.absolute{
  position:absolute;
}
