body{
  background-color:grey;
}

img{
  max-width:100%;
  max-height:100%;
}

*{
  font-family:Monospace;
}

#file{
  left:50%;
  top:1rem;
}

#imageContainer{
  left:50%;
  top:50%;
  display:grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-height:70vh;
  width:80vw;
  
  background-color:white;
  overflow:scroll;
  overflow-x:hidden;
}

#bottomText{
  bottom:0;
  left:50%;
  height:fit-content;
}

.centered{
  Transform:Translate(-50%, -50%);
}

.absolute{
  position:absolute;
}
