body{
  background-color:grey;

  display:grid;
  justify-content:center;
}

img{
/*  max-width:100%;
  max-height:100%;*/

  width:100%;
  height:auto;

  display:block;
}

*{
  font-family:Monospace;
}

#file{
  left:50%;
  top:1rem;
}

#amountInColSlider{
    left:50%;
    margin-top:0.5vh;
}

#amountInColLabel{
    left:50%;
    margin-top:0.5vh;
}

#imageContainer {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    background-color: white;
    width: 29.7cm;
    height: 21cm;
}

.centered{
  Transform:translate(-50%, -50%);
}

.centeredX{
    transform:translateX(-50%);
}

.centeredY{
    transform:translateY(-50%);
}

.relative{
    position:relative;
}

.absolute{
  position:absolute;
}

.fitContent{
    width:fit-content;
}

.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
}

.column img {
    vertical-align: middle;
}
