/* for the aesthetic */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(270, 100%, 4%, 1) 25%, hsla(269, 100%, 11%, 1) 50%, hsla(270, 100%, 15%, 1) 75%, hsla(270, 100%, 23%, 1) 100%);
}

main{
    flex:1;
}

footer{
    margin-top:auto;
}

*{
    color:white;
    font-family:monospace;
    transition-duration:.25s;

    cursor:default;
    z-index:10;
}

/* ids */
#mainTitle {
    font-weight: bold;
    align-self:center;
    font-size: 7.5vw;
}

#bottomText {
    margin-left: 50%;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

#leftBorder {
    left:0px;
}

#rightBorder {
    right:0px;
}


#textHolder {
    position:relative;

    width:80%;

    margin: calc(80vw / 10 + 1vw) auto 0; /* topBar height + spacing */

/*    background-color:black;*/
}

#darkenBackground{
    position:absolute;

    width:100%;
    left:0;
    top:0;

    background-color:black;
    
    opacity:0.4;

    z-index:1;
}

#projectsTitle {
    margin-top: 75px;
    font-size: clamp(2.25rem, 2.5vw, 3rem);
}

#newDisplayContainer{
    position:relative;
    align-self:center;
    width:60%;
    height:fit-content;
    display:grid;
    grid-template-columns:1fr;
    justify-content:center;
    gap:1vw;
    margin-bottom:10vh;
}

/* classes */
.absolute {
    position:absolute;
}

.centered{
    transform:translate(-50%, -50%);
}


.text {
    position:relative;
    left:2.5%;
    width:95%;

    font-size:clamp(1rem, 2vw, 2rem);

    text-align:center;
/*    background-color:gainsboro;*/
}



.displayProject {
/*    position: relative;
    width: 33%;*/
/*    height:max-content;*/

    background-color: #262626;
    text-align:center;
    
    display:flex;
    flex-direction:column;

    border-radius:10px;
    overflow:hidden;
}

.horizontalDisplayVideo {
    position:relative;
    height:50%;
    max-width:100%;

    margin:0px auto;

    left:0;
    top:0;
}

.verticalDisplayVideo{
    position:relative;
    height:100%;
    max-width:50%;
    margin:auto 0px;

    left:0;
    top:0;
}

.displayTitle {
    position: relative;
    /*    font-size:2vw;*/
    /*    text-size-adjust:auto;*/

    font-size: 3vw;
    font-weight: bolder;
    color: white;

    text-align:center;

    margin:1.25vw;
}

.displayText {
    position: relative;
    /*    font-size:1vw;*/
    /*    text-size-adjust:auto;*/

    font-size: 2vw;
    padding-left: 10px;
    padding-right: 10px;
    color: white;

    text-align:center;
}

.displayTextHolder{
    position:relative;
    display:flex;
    flex-direction:column;
    width:fit-content;
    height:fit-content;
    align-items:center;
    align-self:center;
}



.splitter {
    position: relative;
    width: 45vw;
    aspect-ratio: 200 / 1;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    margin: 5vh auto 5vh auto;
}


.horizontalDisplay {
    position: relative;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #262626;
}

.verticalDisplay {
    position: relative;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
    flex-direction:row;
    background-color: #262626;
}
